@import url(https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --color-one: #2f2e41
}

.priyansh {
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    color: white;
}

.blog {
    background-color: cyan;
    
}


article .link{

    background-color: tomato;
    color: white;
    padding-left: 5rem 3rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
}

.nav {
    background-color:#2F2E41;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

.nav .link {
    color: white;
}


footer .link {
    color: white;
    padding-left: 1rem;
    background-color: tomato;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

.nav .active-link {

    font-weight: bold;
    background-color: orangered;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

body {
    font-family: 'Balsamiq Sans', cursive;

    background-color:#9bddfa;;
}


img {
    max-width: 50%;
    padding-left: 5rem;
    margin: auto;
}


section {

    text-align: center;
}

hr {
    margin: 0rem 5rem;
    

}

main {
    background-color: #1FB7FB;
    border-top-left-radius: 150rem;
    
    
    ;
}

.inline-item {
    display: inline;
    padding: 0rem rem;

}

.no-bullets {
    list-style: none;
    text-align: end;

}



.no-bullets-footer {
    list-style: none;
    padding-left: 0rem;
}

.inline-item-footer {
    display:inline-table;
    padding: 1rem 2rem;
}


.article-link{
    text-decoration: none;
    font-weight: bold; 
    color: orangered;
}

article {
    
    margin-right: 4rem;
    margin-left: 4rem;
}


.link-hcl {
    color:blue;
    font-weight: bold;
    text-decoration: none;

}

.nav .link {
    color: white;
}

.link {
    text-decoration: none;
    padding:0.5rem 1rem;
}

footer {

    background-color:#2F2E41;
    color: white;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    font-family: 'Lobster', cursive;
    font-size:medium;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}


h1 {
    text-align: center;
    padding: 1rem;
    color: var(--color-one)

}

h4 {
    text-align: center;
    padding: 0.5rem;
}
