@import url(https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');
:root {
    --color-one: #2f2e41
}

.priyansh {
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    margin: 3rem;

    color: white;
    text-decoration: none;
}

.blog {
    background-color: cyan;
    
}


section .link{

    background-color: tomato;
    color: white;
    padding-left: 5rem 3rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
}

.nav {
    background-color:#2F2E41;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    

}

.nav .link {
    color: white;
}


footer .link {
    color: white;
    padding-left: 1rem;
    background-color: tomato;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

.nav .active-link {

    font-weight: bold;
    background-color: orangered;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

body {
    font-family: 'Balsamiq Sans', cursive;
    background-color:#1FB7FB;
    max-width: 100%;;
    margin-top:0rem;
}


img {

    display:block;
    margin: auto;
    max-width: 100%;
    height: auto;
}




section {

    text-align: center;
    padding:2.5rem;
    max-width: auto;
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #E6E6E6;
    border-style:groove;
    border-radius: 2rem;
    
    
}

hr {
    margin: 0rem 3rem;
}


main {
    background-color: white;
    border-top-left-radius: 200rem;
    border-top-right-radius: 200rem;
    border-style:double;
    
    
    ;
}

.inline-item {
    display: inline;
    padding: 0rem;

}

.no-bullets {
    list-style: none;
    text-align: end;
    padding:0rem;

}



.no-bullets-footer {
    list-style: none;
    padding-left: 0rem;
}

.inline-item-footer {
    display:inline-table;
    padding: 1rem 2rem;
}


.section-link{
    text-decoration: none;
    font-weight: bold; 
    color: orangered;
}

section {
    max-width: 100;
    text-align: justify;
    
}


.link-hcl {
    color:blue;
    font-weight: bold;
    text-decoration: none;

}

.nav .link {
    color: white;
}

.link {
    text-decoration: none;
    padding:0.5rem 1rem;
}

footer {

    background-color:#2F2E41;
    color: white;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    font-family: 'Lobster', cursive;
    font-size:medium;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}


h1 {
    text-align: center;
    padding: 1rem;
    color: var(--color-one)

}

h4 {
    text-align: center;
    padding: 0.5rem;
}

h3 {
    font-family: 'Mali', cursive;
    color: red;
    padding-right: 1rem;
    padding-top: 3rem;
}